html {
    background-color: #F4EBD0;
}
header { 
    background-color: #556B2F; 
    text-align: center;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#f9f9f9
}
header h2 {
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    margin-top: -10px;
}
nav.barra_navegacion {
    background-color: #8DA9C4; 
    padding: 10px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a.button {
    margin: 0 15px;
    text-decoration: none;
    color: #916666;
    font-weight: bold;
}
ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
section.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    background-color:  #f0e5c5;
}
img.myslides {
    width: 300px;
    height: auto;
    border:#3B2F2F 2px solid;
}
.row {
  flex-wrap: wrap;
    justify-content: center;
  display: grid;
  grid-template-columns: 85% 15%;
}
.barralado {
    min-width: 200px;
    max-width: 250px;
    background-color: #E1AD01;
    color:#3B2F2F;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.quote {
    color: #3B2F2F;
    margin: 20px;
    text-align: center;
    background-color: rgb(196, 183, 159);
    padding: 15px 20px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main {
    font-size: 18px;
    line-height: 1.6;
    color: #3B2F2F;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
footer {
    background-color:#8DA9C4; 
    text-align: center;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    color: #3B2F2F;
}
.nombre {
    font-style: italic;
    font-size: 14px;
    background-color: rgb(232, 180, 49);
    color:#3B2F2F;
}